&pwm0 {
  status = "okay";
  ch0-pin = <27>;
  ch0-inverted;
 };
/{
   
  aliases {
    pwmsound = &pwm_dev0;
};

pwmdevs {
  compatible = "pwm-leds";
   pwm_dev0: pwm_dev_0 {
  pwms = <&pwm0 27>;
  };
 };
 
};